.galleryContent{
    width: 300px;
    margin: 10px;
    border: 1px dotted lightslategray;
}

.galleryContent > img{
    width: 300px;
}

.galleryPostList{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 15%;
    margin-right: 15%;
}
