body{
    margin: 0;
}
#menu{
    background-color:dimgray;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
#menu a{
    color: #FFFFFF;
    font-size: 30px;
    margin-right: 20px;
}

a{
    color:white;
}

.button{
    background-color: dimgray;
    color:white;
    padding: 20px;
    width: 200px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    border: 1px solid white;
}

.pageHeading{
    font-size: 100px;
    margin: 0;
    padding-top: 180px;
    color: white;
    text-shadow: 0px 0px 10px black;
}

#hero{
    text-align: center;
    background-image: url("../img/woodBg.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#logo{
    height: 40px;
    width: 50px;
}
/* uzivatelska cast*/

.blogPostPreview{
    width: 300px;
    border: 1px dotted lightslategray;
}

.blogPostPreview > img{
    width: 300px;
}

#blogPostList{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.centerContentWrapper{
    width: 1000px;
    margin: auto;
}

footer{
    margin-top: 50px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    background: dimgray;
    color: white;
}

.logoFooter{
    width: 50px;
    height: 50px;
}

