.gallery{
     margin: 10px 50px;
     text-align: center;
 }

.gallery img{
    transition: 1s;
    padding: 15px;
    width: 30%;
}

.gallery img:hover{
    filter:grayscale(100%);
    transform: scale(1.1);
}
