@media (max-width: 700px) {

    .contactTitle{
        margin-top: 0px;
        color: black;

    }

    .contactTitle h1{
        font-size: 40px;
        line-height: 10px;
    }

    .contactTitle h2{
        font-size: 20px;
    }

    form{
        margin-top: 0px;

    }
    .formControl{
        width: 80%;
    }


    form .submit{
        width: 80%;
    }
}